*~
*.o
[#]*#
/clutter/clutter.so
/clutter/Makefile
/clutter/mkmf.log
/clutter/rbcltactorbox.c
/clutter/rbcltcolor.c
/clutter/rbcltevent.c
/clutter/rbcltgeometry.c
/clutter/rbcltknot.c
/clutter/rbcltperspective.c
/clutter/rbcltvertex.c
/clutter/rbcltfog.c
/clutter-cairo/clutter_cairo.so
/clutter-cairo/Makefile
/clutter-cairo/mkmf.log
/clutter-gst/clutter_gst.so
/clutter-gst/Makefile
/clutter-gst/mkmf.log
/clutter-gtk/clutter_gtk.so
/clutter-gtk/Makefile
/clutter-gtk/mkmf.log
/Makefile

